*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  /* --card-color-buy: #16784a; */
  --card-color-buy: #16784a;
}

body {
  font-family: "Nunito", sans-serif;
}

/* .container {
    padding: 20px !important; 
    margin: 10px !important;
  } */

/* Зображення */

/* img {
    display: block;
    width: 100%;
} */

/* outline: 1px solid red; /* Відображення меж елементів під час тестування */

/* body {
    margin-left: 201px;
    margin-right: 201px;
    padding: 0 30px;
} */
