.header {
  top: 0;
  width: 100%;
  background-color: white; /* Білий фон */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь для візуального відділення */
}

/* .form-control {
  margin-right: 15px;
} ===все одно не робить */

.navbar {
  background-color: white; /* Білий фон */
}
.dropdown-menu {
  min-width: 100px; /* Зменшена ширина */
}

@media (prefers-color-scheme: dark) {
  .dropdown-menu {
    background-color: #ffffff; /* Білий фон для темної теми */
    color: #000000; /* Чорний текст */
  }
}
