/*
.benefits-container {
    margin: 60px 0;
    text-align: center;
 background-color: none 
Основний контейнер секції
  .benefits__grid {
    padding: 20px;
     */
 /*   grid-template-columns: repeat(5, 1fr);  5 колонок */

 /*.benefits__image {
  width: 90px;
  height: 88px;  Висота зображення */

/* Стилі для мобільних пристроїв (за замовчуванням) */
.benefits-container {
  margin: 60px 0;
  text-align: center;
}

.benefits__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.benefits__grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr; /* Одна колонка на мобільних */
  gap: 1rem; /* Відступи між елементами */
  justify-items: center;
  align-items: start;
}

.benefits__item {
  text-align: center;
}

.benefits__image {
  width: 90px;
  height: 88px;  
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.benefits__text {
  font-size: 0.875rem;
  color: #333;
}
.benefits__text strong{
  font-weight: 700;
}

/* Стилі для ширших екранів (таблетки, десктопи) */
@media (min-width: 768px) {
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr); /* Дві колонки для планшетів */
  }

  .benefits__image {
    width: 80px;
    height: 80px;
  }

  .benefits__text {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .benefits__grid {
    grid-template-columns: repeat(5, 1fr); /* П'ять колонок для десктопів */
  }

  .benefits__title {
    font-size: 2rem;
  }
}
