.bi-search{
    /* margin-right: 15px; */
}
/* header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  } */
  .header {
    background-color: #fff; /* Білий фон */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь для візуального відділення */
    z-index: 1000;
    width: 100%;
    /* transition: background-color 0.3s ease; */
    background-color: white;

      }
      .fixed-top {
        position: fixed; /* Фіксоване положення */
        top: 0; /* Прикріплено до верхньої частини сторінки */
      }
      body {
        padding-top: 60px; /* Відступ для контенту під хедером (60px – висота хедера) */
      }
      /* .header {
        position: relative;
         z-index: 1;
      } */